{% extends "base.html" %}

{% block css %}
<style>
    form {
        width: 100%;
    }

    @media screen and (min-width: 900px) {
        form {
            width: 33%;
        }
    }

    .box {
        display: flex;
        flex-direction: column;
        width: 100%
    }

    input, select {
        background-color: #364547;
        border-width: 0px;
        width: 100%;
        height: 60px;
        font-size: x-large;
        color: #fff;
        border-radius: 5px;

    }

    .inputWrapper {
        border-width: 8px;
        border-color: #364547;
        border-style: solid;
        border-radius: 5px;
    }




</style>
{% endblock %}

{% block content %}
<form action="/admin/add_tickets" method="post">
    <div class="box">
        <p>Send</p>
        <input name="count" type="number" value="2">
        <p>Tickets to</p>
        <select name="client">
            {% for name, data in clients.items() %}
            <option value="{{name}}">{{data.description}} ({{data.count}} tickets)</option>
            {% endfor %}
        </select>

        <button id="submitbtn" type="submit">
            Send tickets
        </button>
    </div>
</form>
{% endblock %}