<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: #2f5d62;
            color: #ffb037
        }

        .container {
            height: 98vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: monospace;
        }

        .wrapper {
            display: flex;
            justify-content: center;
        }

        button {
            background-color: #ffb037;
            border-color: #ffb037;
            border-width: 0px;
            height: 60px;
            border-radius: 5px;
            width: 100%;
            margin-top: 8px;
            cursor: pointer;
        }
    </style>
    {% block css %}{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="container">
        <div class="wrapper">
            {% block content %}{% endblock %}
        </div>

    </div>

</body>

</html>