{% extends "base.html" %}

{% block css %}
<style>
    .box {
        display: flex;
        flex-direction: column
    }

    input {
        background-color: #364547;
        border-width: 0px;
        
        height: 60px;
        font-size: x-large;
        color: #fff;
        width: 100%;

    }

    .inputWrapper {
        border-width: 8px;
        border-color: #364547;
        border-style: solid;
        border-radius: 5px;
    }
</style>
{% endblock %}

{% block content %}
<form action="/admin/login" method="post">
    <div class="box">
        <div class="inputWrapper">
            <input type="password" required name="password" id="password" placeholder="Password" />
        </div>

        <button id="submitbtn"
            type="submit">
            Login
        </button>
    </div>
</form>
{% endblock %}