{% extends "base.html" %}

{% block css %}
<style>
    .box {
        display: flex;
        flex-direction: column;
        font-size: x-large;
    }

</style>
{% endblock %}

{% block content %}
<div class="box">
    <p>Ticket count changed to {{count}}!</p>
</div>
{% endblock %}